obj/*

bin/Debug/net9.0/Data-Structures-Algorithms.dll
bin/Debug/net9.0/Data-Structures-Algorithms.pdb
bin/Debug/net9.0/Data-Structures-Algorithms.exe
bin/Debug/net9.0/Data-Structures-Algorithms.deps.json
bin/Debug/net9.0/Data-Structures-Algorithms.runtimeconfig.json

bin/Debug/net9.0/tasks.json
obj/Debug/net9.0/Data-Structures-Algorithms.AssemblyInfo.cs
obj/Debug/net9.0/Data-Structures-Algorithms.AssemblyInfoInputs.cache